services:
    - docker

before_install:
    - docker build -t fabiopitte/docker-react -f Dockerfile.dev .

script:
    - docker run -e CI=true fabiopitte/docker-react npm run test

deploy:
    edge: true
    provider: elasticbeanstalk
    access_key_id: 
        secure: "$access_key_id"
    secret_access_key: 
        secure: "$secret_access_key"

    region: "us-west-2"
    app: "docker-react"
    env: "DockerReact-env"
    bucket: "elasticbeanstalk-us-west-2-746834350142"
    bucket_path: "docker-react"
    on:
        branch: master

language: generic

dist: xenial

os: linux
